/* src/index.css */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

/* Paleta de cores */
:root {
  --gold: #DAA520;
  --black: #000000;
  --dark-gray: #2F2F2F;
  --white: #FFFFFF;
  --red: #FF0000;
}

/* Animações */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInForm {
  to {
    opacity: 1;
  }
}